<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Detalles de la Categoría</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" th:href="@{/}">TecnoSmart</a>
        </div>
    </nav>
    <div class="container mt-5">
        <h1>Detalles de la Categoría</h1>
        <p><strong>ID:</strong> <span th:text="${categoria.id}"></span></p>
        <p><strong>Nombre:</strong> <span th:text="${categoria.nombre}"></span></p>
        <p><strong>Descripción:</strong> <span th:text="${categoria.descripcion}"></span></p>
        
        <a th:href="@{/categorias}" class="btn btn-secondary mt-4">Volver a la lista de categorías</a>
    </div>
</body>
</html>
